@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

:root {
	font-size: 8px;

	--text-color: #ddd;
	--background: #222;

	--std-height: 6rem;
	--std-transition-time: 250ms;

	--disabled-color: #666;
	--primary-color: #7a72ef;
	--secondary-color: #531b53;
	--shadow-color: #0000004d;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Outfit', 'Poppins', sans-serif;
}

body {
	background: var(--background);

	height: 100vh;
	height: 100svh;
}

.page-container {
	height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 99999s ease-in-out 0s;
	-webkit-text-fill-color: var(--text-color) !important;
}
